<!-- table -->
<h3 class="text-center">Editoras Cadastradas</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Cidade</th>
            <th scope="col">email</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let editora of editoras">
            <th scope="row">{{editora.edt_codigo}}</th>
            <td>{{editora.edt_nome}}</td>
            <td>{{editora.edt_cidade}}</td>
            <td>{{editora.edt_email}}</td>
            <td>
                <fa-icon (click)="editar(editora)" data-toggle="modal" data-target="#adicionar" [icon]="faEdit">
                </fa-icon>
                <fa-icon (click)="deletar(editora)" [icon]="faTrash"></fa-icon>
            </td>
        </tr>
    </tbody>
</table>
<div class="text-right">
    <button (click)="adicionar()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#adicionar">Adicionar</button>
</div>

<!-- modal -->
<div id="modal" class="modal fade" id="adicionar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editora</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input [(ngModel)]="editora.edt_nome" type="text" class="form-control" id="nome"
                        placeholder="Insira o nome">
                </div>

                <div class="form-group">
                    <label for="telefone">Telefone</label>
                    <input [(ngModel)]="editora.edt_telefone" type="text" class="form-control" id="telefone"
                        placeholder="Insira o telefone">
                </div>

                <div class="form-group">
                    <label for="telefone">Email</label>
                    <input [(ngModel)]="editora.edt_email" type="text" class="form-control" id="email"
                        placeholder="Insira o email">
                </div>

                <div class="form-group">
                    <label for="CEP">CEP</label>
                    <input [(ngModel)]="editora.edt_cep" type="text" class="form-control" id="CEP"
                        placeholder="Insira o CEP">
                </div>

                <div class="form-group">
                    <label for="cidade">Cidade</label>
                    <input [(ngModel)]="editora.edt_cidade" type="text" class="form-control" id="cidade"
                        placeholder="Insira a cidade">
                </div>

                <div class="form-group">
                    <label for="telefone">Estado</label>
                    <input [(ngModel)]="editora.edt_estado" type="text" class="form-control" id="estado"
                        placeholder="Insira o estado">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="salvar(editora)">Salvar</button>
            </div>
        </div>
    </div>
</div>
<!-- modal -->